{% extends "base0.html" %}




{% block content %}
<form method='GET'  action=''>
  <div class="form-group">
    <input type='text' name='q' placeholder="Search" class='form-control' value='{{ request.GET.q }}'/>
    <input type='submit' class="btn btn-primary" value="Search" />
    </div>
</form>
<br>
{% for obj in object_list  %}
<div class="row">
  <!--col-sm-6 col-md-4 blog post-->
  <div class="col-md-6 col-md-6 hero-feature">
      <div class="thumbnail">
      {% if obj.image %}
        <img src= '{{ obj.image.url }}' class='img-responsive img-article'/>
      {% endif %}
      <div class="caption">
        <h3><a href='{{obj.get_absolute_url}}'>  {{obj.title}}</a>
          <br>
        <small>{{obj.timestamp|timesince}} ago</small></h3>
        {% if obj.user.get_full_name %}
        <p>Author: {{ obj.user.get_full_name }}</p>
        {% endif %}
        <p>{{obj.content|linebreaks|truncatechars:50}}</p>
        <p><a href="{{obj.get_absolute_url}}" class="portfolio-link btn btn-primary" role="button">View</a>

        {% if request.user.is_authenticated %}
          <a href="{{obj.get_absolute_url}}edit" class="portfolio-link btn btn-info" role="button">Update</a>
          <a href="{{obj.get_absolute_url}}delete" class="portfolio-link btn btn-danger" role="button">Delete</a></p>
        {% endif %}

      </div>
  </div>
</div>
  {% endfor %}
  </div>

  <div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?page={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?page={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
        {% endif %}
    </span>
</div>
{% endblock content %}
