{% extends "base.html" %}


{% block head_title %} {{instance.title}} | {{ block.super }} {% endblock head_title %}


{% block content %}
<div class="col-sm-6 col-sm-offset-3">
  <br>
    {% if instance.image %}
      <img src= '{{ instance.image.url }}' class='img-responsive '/>
    {% endif %}

    <h1>{{title}}</h1><small>{{instance.timestamp}}</small>
    {% if instance.user.get_full_name %}
    <p>Author: {{ instance.user.get_full_name }}</p>
    {% endif %}
    <br>
    <!-- <span class="likebtn-wrapper" data-theme="custom" data-icon_l_c_v="#257af9" data-icon_d_c_v="#e91528" data-identifier="item_1" data-href="{{ request.build_absolute_uri }}"></span> -->
    <span class="likebtn-wrapper" data-theme="custom" data-href="{{ request.build_absolute_uri }}"></span>

    <div class="row">
      <div class="col-sm-12">
        <hr>
        <div class ='post-detail-item'> {{instance.get_markdown}}</div><br/>
        <hr>

          <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5"></div>
        </div>
  </div>
</div>
<script>
(function(d,e,s){
  if(d.getElementById("likebtn_wjs"))return;
    a=d.createElement(e);
    m=d.getElementsByTagName(e)[0];
    a.async=1;
    a.id="likebtn_wjs";
    a.src=s;
    m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");
</script>


{% endblock content %}
